$gmr-blue: #6cace4;
$gmr-grey: #53565a;
$primary-0: #6cabe4;
$primary-1: #cbe4fb;
$primary-2: #96c6f1;
$primary-3: #4992d4;
$primary-4: #2a77bd;
$box-shadow-grey: rgba(0, 0, 0, 0.23);
$box-shadow-white: rgba(0, 0, 0, 0.8);

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #6cace4;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$gmr-blue: #6cace4;
$gmr-grey: #53565a;
$gmr-grey-invert: findColorInvert($gmr-grey);
$primary-0: #6cabe4;
$primary-1: #cbe4fb;
$primary-1-invert: findColorInvert($primary-1);
$primary-2: #96c6f1;
$primary-3: #4992d4;
$primary-4: #2a77bd;
$primary-4-invert: findColorInvert($primary-4);
$box-shadow-grey: rgba(0, 0, 0, 0.23);
$box-shadow-white: rgba(0, 0, 0, 0.8);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  ),
  "gmr-blue": (
    $primary,
    $primary-invert
  ),
  "gmr-grey": (
    $gmr-grey,
    $gmr-grey-invert
  ),
  "light-blue": (
    $primary-1,
    $primary-1-invert
  ),
  "dark-blue": (
    $primary-4,
    $primary-4-invert
  )
);

$scrollbar-width: calc(100vw - 100%);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
