$gmr-blue: #6cace4;
$gmr-grey: #53565a;
$primary-0: #6cabe4;
$primary-1: #cbe4fb;
$primary-2: #96c6f1;
$primary-3: #4992d4;
$primary-4: #2a77bd;
$box-shadow-grey: rgba(0, 0, 0, 0.23);
$box-shadow-white: rgba(0, 0, 0, 0.8);
